# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.venv/
env/
venv/
ENV/

# Node (Frontend UI dependencies)
roostos-ui/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Packaging Build Artifacts
build-deb-tmp/
build-arch-tmp/
*.deb
*.pkg.tar*
*.tar
dist/