# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.venv/
env/
venv/
ENV/

# Node (Frontend UI dependencies)
roostos-ui/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debian Build Artifacts
build-deb-tmp/
*.deb
*.tar

# Development Sandbox
dev_root/

# Editor / OS files
.DS_Store
*~
*.swp

dist/